@font-face {
  font-family: 'FuturaDemiC';
  src: url('./../fonts/FuturaDemiC.eot');
  src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
  url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaDemiC.woff') format('woff'),
  url('../fonts/FuturaDemiC.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('../fonts/FuturaMediumC.eot');
  src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
  url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaMediumC.woff') format('woff'),
  url('../fonts/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'),
  url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaLightC.woff') format('woff'),
  url('../fonts/FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaBookC';
  src: url('../fonts/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'),
  url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBookC.woff') format('woff'),
  url('../fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
